
.sp-login {
  background-image: url('/sprite/login.png?_t=1473928551024');
}

.sp-login-pwd {
  background-position: -0px -0px;
  width: 16px;
  height: 16px;
}
.sp-login-user {
  background-position: -0px -16px;
  width: 15px;
  height: 17px;
}
