body
  font-family SimSun, NSimSun
  background url(/static/img/login_bg.png) no-repeat
  background-size 100% 110%
  .login-wrap
    width 720px
    height 260px
    color #fefefe
    margin 230px auto
    .login-logo
      float left
      width 205px
      height 115px
      margin 70px 30px
      img
        display block
        margin 0 auto
      div
        font-size 25px
        margin 18px auto
    .login-user-message
      float right
      width 450px
      height 240px
      margin-top 10px
      input
        position relative
        display block
        width 315px
        height 40px
        margin 0 62px 22px
        line-height 40px
        background-color #2f3e65
        background-color rgba(255,255,255,0.1)
        filter Alpha(opacity=10)
        border 1px solid #fff
        color #fefefe
        &.login-name,&.login-password
          text-indent 48px
          background-repeat no-repeat
          background-position 25px
        &.login-name
          background-image url(/static/img/people_img.png)
        &.login-password
          background-image url(/static/img/key_img.png)
      .login-checkcode
        position relative
        width 377px
        input
          text-indent 22px
        .code
          position absolute
          right 0
          top 0
          font-family Microsoft Yahe
          font-style italic
          width 80px
          height 40px
          text-align center
          line-height 40px
          font-size 13px
      .login-btn
        width 316px
        height 40px
        margin 0 62px
        input
          display inline-block
          width 110px
          color #fefefe
          font-size 16px
          margin 0
          border 0
          background #0096e6
          &.cancelbtn
            margin-left 90px

        

    
