body
  font-family SimSun, NSimSun
  .edit-head
    height 24px
    border-bottom 1px solid #ccc
    font-size 14px
    padding 18px 20px
    color #808080
    img
      vertical-align middle
    a
      color #808080
      padding 0 3px
      line-height 24px
  .lvs-preview
    width 100%
    height 775px
    .ltitel
      margin-top 20px
      margin-left 2%
      width 98%
      height 45px
      color #fff
      font-size 16px
      background-color #323a4d
      line-height 45px
      img
        padding-left 10px
        vertical-align middle
    .phone-preview
      float left
      position relative
      width 292px
      height 606px
      margin 40px 70px 0 96px
      background url(/static/img/phone.png) no-repeat
      .lvs-detail
        position absolute
        top 85px
        left 16px
    .message-preview
      float left
      width 300px
      margin-top 115px
      ul
        font-size 16px
        color #2b3245
        li
          margin-bottom 30px